@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --body-font:'Montserrat', sans-serif;
}

body{
    font-family: var(--body-font);
}

/* Utilities */